@import "mixins";
@import "reset";
@import "~@angular/material/theming";


.search-result {
  padding: 0 8px;
}

.mat-card {
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  color: #3d3d3d;
  margin: 16px 0;
  padding: 24px 0px 40px;
  @include mat-elevation(1);
}
.mat-card-title {
  font-weight: 600;
}
.mat-card-subtitle,
p {
  color: gray;
}
.mat-card-footer {
  padding: 8px 16px;
  margin: 0;
}

.mat-card-image,
.defaultImage {
  height: 200px;
  width: 100%;
  background: center / cover;
}

.defaultImage {
  background-image: url("../../assets/cosme.jpg");
}

.isLike {
  color: red;
}
