@import "mixins";
@import "~@angular/material/theming";

.cards {
  padding: 0 8px;
  @include tab {
    display: grid;
    justify-content: center;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 340px);
    margin: 0 auto 80px;
  }
}


.mat-card {
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  color: #3d3d3d;
  margin: 16px 0;
  padding: 24px 16px 40px;
  @include mat-elevation(1);
}
.mat-card-title {
  font-weight: 600;
}
.mat-card-subtitle,
p {
  color: gray;
}
.mat-card-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card-image,
.defaultImage {
  height: 200px;
  background: center / cover;
}

.defaultImage {
  background-image: url("../../assets/cosme.jpg");
}

.isLike {
  color: red;
}
