@import "mixins";
@import "reset";
@import "~@angular/material/theming";

.header {
  @include mat-elevation(4);
  &__spacer {
    flex: 1 1 auto;
  }
  a {
    color: #fff;
  }
  &__avatart {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}
