@import "mixins";
@import "reset";
@import "~@angular/material/theming";

.header {
  background-color: #fff;
  display: block;
  align-items: baseline;
  @include mat-elevation(2);
  &__spacer {
    flex: 1 1 auto;
  }
  a {
    color: #000;
    font-weight: 900;
    font-size: 18px;
    font-family: serif;
    @include tab {
      font-size: 26px;
    }
  }
  &__avatart {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
  &__search {
    display: none;
  }
  &__mobile {
    width: 100%;
    display: block;
    @include tab {
      display: none;
    }
  }
  &__pc {
    display: none;
    width: 80%;
    @include tab {
      display: block;
    }
  }
  &__first-row {
    margin-bottom: 16px;
    @include tab {
      margin-bottom: 0;
    }
  }
}

.isSearch {
  display: block;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.mat-form-field {
  background-color: #fff;
  @include tab {
    width: 60%;
  }
}
