<mat-toolbar class="header">
  <mat-toolbar-row class="header__first-row">
  <span>
    <a routerLink="/">
      Men's-ClearLab
    </a>
  </span>
  <div class="header__pc">
  <app-search></app-search>
  </div>
  <span class="header__spacer"></span>
  <button mat-icon-button aria-label="記事作成" matTooltip="記事作成" routerLink="/form" *ngIf="user$ | async">
    <mat-icon>note_add</mat-icon>
  </button>
  <button mat-raised-button aria-label="ログイン" *ngIf="!(user$ | async)" (click)="login()">ログイン</button>
  <div class="header__avatart">
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="user$ | async as user">
      <img [src]="user.photoURL" alt="" />
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="user$ | async" (click)="logout()">
      <mat-icon>input</mat-icon>
      <span>ログアウト</span>
    </button>
    <button mat-menu-item routerLink="/mypage">
      <mat-icon>person</mat-icon>
      <span>マイページ</span>
    </button>
    <button mat-menu-item routerLink="/favorite">
      <mat-icon>star</mat-icon>
      <span>お気に入り投稿</span>
    </button>
    <button mat-menu-item routerLink="/contact">
      <mat-icon>contact_mail</mat-icon>
      <span>お問い合わせ</span>
    </button>
  </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row class="header__mobile">
  <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>
