rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid != null;
    }
    match /articles/{articleId} {
      allow read: if true;
      allow create, update: if request.auth.uid != null;
      // allow update: if request.auth.uid == resource.data.userId && resource.data.userId == request.resource.data.userId;
      allow delete: if request.auth.uid == resource.data.userId;
    }
    match /items/{itemId}/likedUserIds/{userId} {
      allow read, write: if true;
      // allow read, write: if request.auth.uid == userId;
    }
    match /likedusers/{userId}/likeItems/{itemId} {
      allow read, write: if true;
      // allow read, write: if request.auth.uid == userId;
    }
  }
}
