<div class="article" *ngIf="article">
  <h1>{{ article.title }}</h1>
  <div class="article__head">
    <div class="article__head-left">
      <img [src]="article.author.avatorImage" alt="">
      <span>{{ article.author.userName }}</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/form']" [queryParams]="{ articleId: article.articleId }" aria-label="編集する">
      <mat-icon>create</mat-icon>
      <span>編集</span>
    </button>
    <button mat-menu-item aria-label="削除する" (click)="delte()">
      <mat-icon>delete_sweep</mat-icon>
      <span>削除</span>
    </button>
  </mat-menu>
  <div class="article__content">
    <img [src]="article.articleImageUrls[0]" alt="">
    <p>
      {{ article.content }}
    </p>
  </div>
  <div class="article__footer">
    <span>投稿日：{{ article.createdAt.toDate() | date: 'yyy/MM/dd' }}</span>
    <ng-container *ngIf="isLike; else noLike">
      <div class="article__icon">
        <button mat-icon-button color="warn" aria-label="お気に入り" (click)="toggleLiked()" [class.isLike]="isLike">
          <mat-icon>favorite</mat-icon>
          <span>{{likedCount}}</span>
        </button>
      </div>
    </ng-container>
    <ng-template #noLike>
      <div class="article__icon">
        <button mat-icon-button aria-label="お気に入り" (click)="toggleLiked()" [class.isLike]="isLike">
          <mat-icon>favorite_border</mat-icon>
          <span>{{likedCount}}</span>
        </button>
      </div>
    </ng-template>
  </div>
</div>
