<div class="article" *ngIf="article">
  <h1>{{ article.title }}</h1>
  <div class="article__head">
    <div class="article__head-left">
      <img [src]="article.author.avatorImage" alt="">
      <span>{{ article.author.userName }}</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>create</mat-icon>
      <span>編集</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete_sweep</mat-icon>
      <span>削除</span>
    </button>
  </mat-menu>
  <div class="article__content">
    <img [src]="article.articleImageUrls[0]" alt="">
    <p>
      {{ article.content }}
    </p>
  </div>
  <div class="article__footer">
    <span>投稿日：{{ article.createdAt.toDate() | date: 'yyy/MM/dd' }}</span>
    <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
  </div>
</div>
