<div class="article" *ngIf="article">
  <h1>{{ article.title }}</h1>
  <div class="article__head">
    <img [src]="article.author.avatorImage" alt="">
    <span>{{ article.author.userName }}</span>
  </div>
  <div class="article__content">
    <img [src]="article.articleImageUrls[0]" alt="">
    <p>
      {{ article.content }}
    </p>
  </div>
  <div class="article__footer">
    <span>投稿日：{{ article.createdAt.toDate() | date: 'yyy/MM/dd' }}</span>
    <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
  </div>
</div>
