<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h1>記事作成</h1>
  <div class="form__container">
    <div class="form__file">
      <input type="file" aria-label="画像選択" (change)="setImage($event)" multiple />
    </div>

    <mat-form-field appearance="fill">
      <mat-label>タイトル</mat-label>
      <input matInput aria-label="記事タイトル" formControlName="title" required>
      <mat-error *ngIf="titleControl.hasError('required')">必須入力です</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>タグ</mat-label>
      <input matInput aria-label="タグ" formControlName="tag" required>
      <mat-error *ngIf="tagControl.hasError('required')">必須入力です</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>内容</mat-label>
      <textarea matInput matTextareaAutosize aria-label="記事の内容" formControlName="article" required></textarea>
      <mat-error *ngIf="articleControl.hasError('required')">必須入力です</mat-error>
      <mat-error *ngIf="articleControl.hasError('maxlength')">500文字以内にしてください。</mat-error>
    </mat-form-field>
    <p>{{this.form.value.article.length }}/500</p>
    <button mat-raised-button aria-label="記事作成" color="primary" [disabled]="form.invalid || form.pristine">投稿する</button>
    <button mat-raised-button color="warn" [disabled]="form.invalid">リセット</button>
  </div>
</form>

<div>{{this.form.value | json}}</div>
