<div class="card">
  <ng-container *ngIf="articles$ | async as articles">
  <mat-card class="card__list" routerLink="/article" *ngFor="let article of articles">
    <mat-card-header>
      <img [src]="article.author.avatorImage" mat-card-avatar width="48" alt="">
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.author.userName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="article.articleImageUrls[0]" alt="">
    <mat-card-footer>
      <p>{{ article.createdAt.toDate() | date: 'yyy/MM/dd' }}</p>
      <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
    </mat-card-footer>
  </mat-card>
  </ng-container>
</div>
