    <mat-card routerLink="/article/{{ article.articleId }}">
      <mat-card-header>
        <img [src]="article.author.avatorImage" mat-card-avatar width="48" alt="">
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.author.userName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="article.articleImageUrls[0]" alt="">
      <mat-card-footer>
        <p>{{ article.createdAt.toDate() | date: 'yyy/MM/dd' }}</p>
        <p>いいね{{ article.liked }}❤️</p>
      </mat-card-footer>
    </mat-card>
