<div class="card">
  <mat-card class="card__list">
    <mat-card-header>
      <img src="assets/IMG_6179.PNG" mat-card-avatar width="48" alt="">
      <mat-card-title>美容のタイトル</mat-card-title>
      <mat-card-subtitle>Masaaki Moriya</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/cosme.2.jpg" alt="">
    <mat-card-footer>
      <p>2週間前</p>
      <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card__list">
    <mat-card-header>
      <img src="assets/IMG_6179.PNG" mat-card-avatar width="48" alt="">
      <mat-card-title>美容のタイトル</mat-card-title>
      <mat-card-subtitle>Masaaki Moriya</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/cosme.2.jpg" alt="">
    <mat-card-footer>
      <p>2週間前</p>
      <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card__list">
    <mat-card-header>
      <img src="assets/IMG_6179.PNG" mat-card-avatar width="48" alt="">
      <mat-card-title>美容のタイトル</mat-card-title>
      <mat-card-subtitle>Masaaki Moriya</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/cosme.2.jpg" alt="">
    <mat-card-footer>
      <p>2週間前</p>
      <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card__list">
    <mat-card-header>
      <img src="assets/IMG_6179.PNG" mat-card-avatar width="48" alt="">
      <mat-card-title>美容のタイトル</mat-card-title>
      <mat-card-subtitle>Masaaki Moriya</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/cosme.2.jpg" alt="">
    <mat-card-footer>
      <p>2週間前</p>
      <mat-icon aria-hidden="false" aria-label="お気に入り">favorite_border</mat-icon>
    </mat-card-footer>
  </mat-card>
</div>
