@import "mixins";
@import "reset";

.list {
  padding: 0 8px;
  max-width: 1200px;
  margin: 40px auto 0;
  h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #333;
  }
}

p {
    font-size: 18px;
    text-align: center;
    margin: 24px 0;
    @include pc {
      font-size: 22px;
    }
  }
