@import "mixins";
@import "reset";

.chart-wrapper {
  padding: 0 8px;
  margin: 0 auto 80px;
  max-width: 1000px;
  @include tab {
    display: flex;
    align-items: baseline;
  }
  @include pc {
    margin: 0 auto 138px;
  }
  canvas {
    max-width: 500px;
    margin-bottom: 32px;
  }
}

  i {
    text-align: center;
    display: block;
    font-size: 56px;
    color: lightskyblue;
    margin-bottom: 16px;
  }

