<app-first-view></app-first-view>
<app-chart></app-chart>
<div class="top">
<div class="top__popular-head">
  <h2>人気の記事</h2>
  <button mat-button color="accent" aria-label="もっとみる" routerLink="/list">もっとみる</button>
</div>
<ng-container *ngIf="popularArticles$ | async as popularArticles; else notArticle">
<div class="card">
<app-card *ngFor="let popularArticle of popularArticles" [article]="popularArticle"></app-card>
</div>
</ng-container>
<div class="top__popular-head">
  <h2>おすすめの記事</h2>
  <button mat-button color="accent" aria-label="もっとみる" routerLink="/list">もっとみる</button>
</div>
<div class="card">
<ng-container *ngIf="newArticles$ | async as newArticles; else notArticle">
  <app-card *ngFor="let newArticle of newArticles" [article]="newArticle"></app-card>
</ng-container>
</div>
<ng-template #notArticle>
  <p>記事はまだありません。</p>
</ng-template>
</div>
