@import "mixins";

.top {
  padding: 0 8px;
  &__popular-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d9db;
    margin-bottom: 16px;
  }
}

p {
    font-size: 18px;
    text-align: center;
    margin: 24px 0;
    @include pc {
      font-size: 22px;
    }
  }

