html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "mixins";
@import "reset";

.card {
  padding: 0 8px;
  @include tab {
    display: grid;
    justify-content: center;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 340px);
    margin: 0 auto 80px;
  }
}
